<.mc_logo />

<.header>
  <h1 class="text-brand mt-10 flex items-center text-[2rem] font-semibold leading-6">
    Quests
  </h1>

  <:actions :if={@current_user}>
    <.link href={~p"/admin/quests/new"}>
      <.button>New Quest</.button>
    </.link>
  </:actions>
</.header>

<section class="mt-5 text-[1rem] font-semibold">
  <button :for={quest <- @quests} class="bg-brand hover:bg-brand_hover text-white font-bold py-2 px-4 rounded" phx-click={show_modal("quest-modal-#{quest.id}")}><%= quest.name %></button>
  <.modal :for={quest <- @quests} id={"quest-modal-#{quest.id}"}>
    <h2><%= quest.name %></h2>
    <%= raw quest.description %>
  </.modal>
</section>
